.mainContent{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 4em;
    gap: 2em;
}

.mainContent-coverSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

.mainContent-infoSection{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.mainContent-infoSection-div-div{
    background-color: #CC0E2E;
    padding: 1em;
    border-top-right-radius: 30%;
}

.mainContent-infoSection-h2{
    text-align: center;
    font-size: 2.5em;
    background: linear-gradient(10deg, #ffdfe4, #eb5f76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2em;
    text-align: start;
}

.mainContent-infoSection-h2 > span{
    font-size: 2em;
}

.mainContent-infoSection-div{
    display: flex;
    gap: 4em;
}

.mainContent-infoSection-div-p{
    text-align: justify;
    font-size: 1.2em;
    color: #161212;
    line-height: 1.6em;
}

.mainContent-infoSection-div-p > span{
    font-weight: 700;
    color: #CC0E2E;
}

/* Prueba */

.mainContent-aboutUs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.mainContent-activities{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.test > div {
    background-color: rgb(179, 179, 179);
    width: 10em;
    height: 10em;
    border-radius: 100%;
}

.test{
    display: flex;
    gap:3em;
}

@media (max-width: 450px) {
    .mainContent-infoSection{
        padding: 1em;
    }

    .mainContent-infoSection-div{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .mainContent-infoSection-div-div{
        background-color: transparent;
    }
    
    .mainContent-infoSection-h2{
        font-size: 2.5em;
        background: linear-gradient(10deg, #910a1f, #eb5f76);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    
    .mainContent-infoSection-h2 > span{
        font-size: 1em;
    }
    
    .mainContent-infoSection-div-p{
        text-align: justify;
        font-size: 1.2em;
        color: #161212;
        line-height: 1.6em;
    }
    
}