.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.header-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-ul{
    display: flex;
    justify-content: start;
    gap: 5em;
}

.header-a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: ease .5s;
}

.header-a:hover{
    color: #CC0E2E;
    letter-spacing: 3px;
    transition: ease .5s;
}

.header-p{
    color:#CC0E2E;
    font-size: .7em;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 00;
}

.header-img{
    width: 11em;
    margin-left: 25px;
}