.gallery-container{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 30px;
}

.gallery-img{
    position: relative;
}

.gallery-img-item{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.gallery-img .gallery-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    transition: opacity 0.3s ease;
    opacity: 0;
    border-radius: 10px;
}

.gallery-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: white;
}

.gallery-img-overlay p{
    text-align: center;
    font-size: 1em;
}

.gallery-img-overlay h3{
    font-size: 1.5em;
}

.gallery-img:hover .gallery-img-overlay {
    opacity: 1;
  }


.gallery-container .gallery-img-item{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 15px;
}

@media (max-width: 768px){
    .gallery-container{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 450px){
    .gallery-container{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}